# editor files
*~
\#*\#

# python bytecode
*.py[co]
__pycache__/

# install artifacts
/build
/dist
/*.egg-info

# jupyter
.ipynb_checkpoints/
.virtual_documents/

# tools
.hypothesis/
.pytest_cache
.coverage
.coverage.*
.cache
.prettier_cache

# sphinx
/docs/_build/
/docs/generated/
/docs/warnings.log
