# editor files
*~
\#*\#

# python bytecode
*.py[co]
__pycache__/

# install artifacts
/build
/dist
/*.egg-info

# tools
.ipynb_checkpoints/
.virtual_documents/
.hypothesis/
.pytest_cache
.coverage
.coverage.*
.cache
/docs/_build/
/docs/generated/
.prettier_cache
/docs/warnings.log
